{% extends 'base.html' %}
{% load humanize %}
{% load static %}

<link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block title %}
    personal information form
{% endblock %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

{% endblock %}
{% block content %}
    <!-- Checkout Page Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="mb-4">Billing details</h1>
            <div class="">
                <div class=" row g-4 d-flex ">

                    <div class="d-flex align-items-center justify-content-evenly">
                        <div class="col-md-12 col-lg-7 col-xl-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Products</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for item in order.order_items.all %}
                                        <tr>
                                            <th scope="row">
                                                <div class="d-flex align-items-center mt-4">
                                                    <img src="{{ item.product.image.url }}"
                                                         class="img-fluid "
                                                         style="width: 100px; height: 80px;border-radius: 15%" alt="">
                                                </div>
                                            </th>
                                            <td class="py-5">{{ item.product.name }}</td>

                                            {% if item.product.status == 'none' %}
                                                {% if item.product.discount %}

                                                    <td class="py-5">
                                                        {{ item.unit_price|floatformat|intcomma }}<span
                                                            class="text-secondary ms-2"
                                                            style="width:1rem;height:1rem"> %{{ item.product.discount }}</span>
                                                    </td>

                                                {% else %}
                                                    <td class="py-5  ">
                                                        $ {{ item.unit_price|floatformat|intcomma }}</td>
                                                {% endif %}
                                                <td class="py-5">{{ item.quantity }}</td>
                                                <td class="py-5">Normal</td>


                                            {% elif item.product.status == 'size' %}
                                                {% if  item.variant.discount %}
                                                    <td class="py-5">
                                                        {{ item.unit_price|floatformat|intcomma }}<span
                                                            class="text-secondary ms-2"
                                                            style="width:1rem;height:1rem"> %{{ item.variant.discount }}</span>
                                                    </td>
                                                {% else %}
                                                    <td class="py-5 "> $ {{ item.unit_price|floatformat|intcomma }}</td>
                                                {% endif %}
                                                <td class="py-5">{{ item.quantity }}</td>

                                                <td class="py-5">{{ item.variant.size }}</td>
                                            {% endif %}
                                            <td class="py-5">${{ item.get_price|floatformat|intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-4">
                            <div class="row mt-4">
                                <img src=" {% static 'image/delivery.png' %}" alt="delivery picture"
                                     title="delivery image"
                                     style="border-radius: 10%">

                            </div>

                        </div>
                    </div>
                    <div class="row g-4 justify-content-evenly align-items-center mt-3">
                        <div class="col-6">
                            <form method="post" action="" novalidate>
                                {% csrf_token %}
                                {#                            {{ coupon_form }}#}
                                <div class="d-flex align-items-center justify-content-start">
                                    <input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4"
                                           placeholder="Coupon Code" name=code required>
                                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary "
                                            type="submit">Apply
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="bg-light rounded">
                                <div class="p-4">
                                    <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="mb-0 me-4">Subtotal:</h5>
                                        <p class="mb-0">${{ order.get_total_price|floatformat|intcomma }}</p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <h5 class="mb-0 me-4">Shipping cost :</h5>
                                        <p class="mb-0">${{ order.shipping|floatformat|intcomma }}<i
                                                class="fas fa-shipping-fast"></i>
                                        </p>
                                        {#                                <div class="">#}
                                        {#                                    <p class="mb-0">your profit : $ {{ cart.total_profit }}</p>#}
                                        {#                                </div>#}
                                    </div>
                                    {#                            <p class="mb-0 text-end">Shipping .</p>#}
                                </div>
                                <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                                    <h5 class="mb-0 ps-4 me-4">Total Price</h5>
                                    <p class="mb-0 pe-4">${{ order.final_cost|floatformat|intcomma }}</p>
                                </div>

                            </div>
                        </div>
                    </div>


                    <hr class="text-primary">


                    <div class="row g-4 text-center align-items-center justify-content-center  py-3">
                        <div class="col-12">
                            <a href="{% url 'cart:start_pay' order.id %}"
                               class="btn border-secondary rounded-pill px-4 py-3 text-primary ">Direct Bank
                                Transfer</a>
                        </div>
                        <p class="text-start text-dark">Make your payment directly into our bank account. Please
                            use your Order ID as the payment reference. Your order will not be shipped until the
                            funds have cleared in our account.</p>
                    </div>

                    {#                    <div class="d-flex align-items-center  justify-content-between ">#}
                    {#                        <div class="row  text-center align-items-center justify-content-center  py-3">#}
                    {#                            <div class="col-3">#}
                    {#                                <div class="form-check text-start my-3">#}
                    {#                                    <input type="checkbox" class="form-check-input bg-primary border-0" id="Payments-1"#}
                    {#                                           name="Payments" value="Payments">#}
                    {#                                    <label class="form-check-label" for="Payments-1">Check Payments</label>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="row  text-center align-items-center justify-content-center  py-3">#}
                    {#                            <div class="col-3">#}
                    {#                                <div class="form-check text-start my-3">#}
                    {#                                    <input type="checkbox" class="form-check-input bg-primary border-0" id="Delivery-1"#}
                    {#                                           name="Delivery" value="Delivery">#}
                    {#                                    <label class="form-check-label" for="Delivery-1">Cash On Delivery</label>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="row  text-center align-items-center justify-content-center  py-3">#}
                    {#                            <div class="col-6">#}
                    {#                                <div class="form-check text-start my-3">#}
                    {#                                    <input type="checkbox" class="form-check-input bg-primary border-0" id="Paypal-1"#}
                    {#                                           name="Paypal" value="Paypal">#}
                    {#                                    <label class="form-check-label" for="Paypal-1">Paypal</label>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                        <div class="row  text-center align-items-center justify-content-center pt-4">#}
                    {#                            <div class="col-6">#}
                    {#                                <button type="button"#}
                    {#                                        class="btn border-secondary py-3 px-4 text-uppercase  text-primary ">Place Order#}
                    {#                                </button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>

            </div>
        </div>

    </div>

    <!-- Checkout Page End -->


{% endblock %}
